{% extends 'base.html' %}

{% block 'body' %}
<div class="container">
    {% if messages %}
    <br>
    {% for message in messages %}
    <div class="alert {{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <form action="{% url 'cadastrar' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <label>Foto de perfil: </label>
        <input class="form-control" type="file" name="foto_perfil" accept="image/*">
        <br>
        <label>Nome de usuário: </label>
        <input class="form-control" type="text" name="username" required>
        <br>
        <label>Email: </label>
        <input class="form-control" type="email" name="email" required>
        <br>
        <label>Senha: </label>
        <input class="form-control" type="password" name="password" required>
        <br>
        <input class="btn btn-success" type="submit" value="Salvar">
    </form>
</div>
{% endblock %}
