{% extends 'base.html'%}
{% load filters %}

{% block 'body' %}
<div class="container">

<hr style="background-color: gray;">
<div class="listar_produtos">
    <div>
        
    </div>
    {% for produto in produtos%}
        <div style="background-color: #0f0f0f;" class="card" style="width: 18rem;">
            {% if produto|get_first_image %}
            <img width="100%" class="card-img-top" src="{{produto|get_first_image}}">
            {% endif %}
            <div class="card-body">
            <h5 class="card-title">{{produto.nome}}</h5>
            <span class="badge badge-info">{{produto.categoria}}</span>
            <br> <br>
            <a href="#" class="btn btn-primary">Acessar</a>
            </div>
        </div>
        <br>
    {% endfor %}
</div>
</div>
{% endblock %}